body {
    font-family: Arial, sans-serif;
    background-image: url('93e2aa11-ecfb-413a-86b8-fdfe3abf9573.jpg'); /* Añadir imagen de fondo */
    background-size: cover; /* Asegurarse de que la imagen cubra toda la página */
    background-position: center; /* Centrar la imagen */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px; /* Ajustar el ancho máximo */
}

h2 {
    margin-bottom: 20px;
    color: #333333; /* Color de texto primario */
    font-size: 24px; /* Tamaño de fuente ajustado */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

input[type="submit"] {
    background-color: #e3b52b; /* Color mostaza */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

input[type="submit"]:hover {
    background-color: #d1a227; /* Color mostaza más oscuro */
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background-color: #e3b52b; /* Color mostaza */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

.logout-btn:hover {
    background-color: #d1a227; /* Color mostaza más oscuro */
}

img {
    margin-bottom: 20px;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 60%;
    }

    h2 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        font-size: 12px;
        padding: 8px;
    }

    .logout-btn {
        font-size: 12px;
        padding: 8px 15px;
    }

    .error-message {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
}
